<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de datos</title>
</head>
<body>
    Listado de datos ...
    {% for dato in datos %}   
        <p>------------------------------</p>
        <p>nombre: {{ dato.nombre }}</p>
        <p>apellido: {{ dato.apellido }}</p>
        <p>email: {{ dato.email }}</p>
        <p>creado: {{ dato.created_at }}</p>
        <p>edad: {{ edad }}</p>
        <p>estado: {{ dato.estado }}</p>
        {% endfor %}
</body>
</html>